<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card">
          <div class="card-header">
            <strong>New employee</strong>
          </div>
          <div class="card-body">

            <!-- Nav tabs -->
            <tabset>

              <tab>
                <ng-template tabHeading><i class="icon-user"></i> Personal Details &nbsp;</ng-template>
                <label for="name">Name</label>
                <div class="row">
                  <div class="form-group col-sm-2">
                    <select class="form-control" id="salutation" name="salutation" formControlName="salutation">
                      <option *ngFor="let sal of saluatations" [value]="sal">{{sal}}</option>
                    </select>
                  </div>

                  <div class="form-group col-sm-4">
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="First name"
                      formControlName="firstName">
                    <div></div>
                  </div>
                  <div class="form-group col-sm-3">
                    <input type="text" class="form-control" id="mname" name="mname" placeholder="Middle name"
                      formControlName="middleName">
                  </div>
                  <span class="form-group col-sm-3">
                    <input type="text" class="form-control" id="lname" required name="lname" placeholder="Last name"
                      formControlName="lastName">
                  </span>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="city">Gender</label>
                    <div>
                      <div *ngFor="let gender of genders; let i=index" class="form-check form-check-inline mr-1"
                        id="gender">
                        <input class="form-check-input" type="radio" name="gender"  [value]="gender"
                          formControlName='gender'>
                        <label class="form-check-label" for="inlineRadio1">{{gender}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="city">Marital status</label>
                    <div>
                      <div *ngFor="let status of maritalStatus; let i=index" class="form-check form-check-inline mr-1"
                        id="maritalStatus">
                        <input class="form-check-input" type="radio" name="maritalStatus"  [value]="status"
                          formControlName='maritalStatus'>
                        <label class="form-check-label" for="inlineRadio1">{{status}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="birthDate">Birth Date</label>
                    <div >
                      <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date" formControlName="birthDate">
                      <!-- <span class="help-block">Please enter a valid date</span> -->
                    </div>
                  </div>
                </div>                
                <div class="row">
                  <div class="form-group col-sm-6">
                    <div *ngFor="let email of emailAddresses.controls; let i=index">
                      <div [formGroup]="email" class="mb-1">
                        <span *ngIf="email.get('isRemoveble').value" > 
                          <a (click)="removeEmail(i)" tooltip="remove email" type="button" class=""><small><i style="color: red;"  class="fa fa-minus-circle mr-1"></i></small></a>
                        </span>
                        <label for="city">Email ({{email.get('type').value}})</label>
                        <input type="text" class="form-control" id="emailaddress" placeholder="Email" formControlName="address">
                      </div>
                    </div>
                    <div class="" *ngIf="allowUserToAddAnotherPhone">
                      <span dropdown class="ml-1" >
                        <a href dropdownToggle (click)="false"><small><i   class="fa fa-plus-circle mr-1"></i>add another email</small></a>
                          <ul *dropdownMenu class="dropdown-menu" >
                            <li *ngFor="let type of emailTypes">
                              <a class="dropdown-item"  (click)="addEmail(type)">{{type}}</a>
                            </li>
                          </ul>
                      </span>
                    </div>
                  </div>                 
                  <div class="form-group col-sm-6">
                    <div *ngFor="let phone of phoneNumbers.controls; let i=index">
                      <div [formGroup]="phone" class="mb-1">
                        <span *ngIf="phone.get('isRemoveble').value" > 
                          <a (click)="removePhone(i)" tooltip="remove phone" type="button" class=""><small><i style="color: red;"  class="fa fa-minus-circle mr-1"></i></small></a>
                        </span>
                        <label for="city">Phone ({{phone.get('type').value}})</label>
                        <input type="text" class="form-control" id="phoneNumber" placeholder="Phone" formControlName="number">
                      </div>
                    </div>
                    <div class="" *ngIf="allowUserToAddAnotherPhone">
                      <span dropdown class="ml-1" >
                        <a href dropdownToggle (click)="false"><small><i   class="fa fa-plus-circle mr-1"></i>add another phone</small></a>
                          <ul *dropdownMenu class="dropdown-menu" >
                            <li *ngFor="let type of phoneType">
                              <a class="dropdown-item"  (click)="addPhone(type)">{{type}}</a>
                            </li>
                          </ul>
                      </span>
                    </div>
                  </div>
                </div>
                <div formArrayName="addresses">
                  <div *ngFor="let address of Addresses.controls; let i=index">
                      <app-address-form [index]="i" [addressForm]="address" (removeAddress)="removeAddress($event)" (addAddress)="addAddress()"></app-address-form>
                  </div>
                  <div class="" *ngIf="allowUserToAddAnotherPhone">
                    <span dropdown class="ml-1" >
                      <a href dropdownToggle (click)="false"><small><i   class="fa fa-plus-circle mr-1"></i>add another address</small></a>
                        <ul *dropdownMenu class="dropdown-menu" >
                          <li *ngFor="let type of addressType">
                            <a class="dropdown-item"  (click)="addAddress(type)">{{type}}</a>
                          </li>
                        </ul>
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-12">
                    <div class=" float-right">
                      <button type="submit" class="btn btn-primary">Save changes</button>
                      <button class="btn btn-secondary" type="button">Cancel</button>
                    </div>
                  </div>
                </div>
              </tab>
              <tab>
                <ng-template tabHeading><i class="icon-graduation"></i> Acadamics Details &nbsp;</ng-template>
              </tab>
              <tab>
                <ng-template tabHeading><i class="icon-briefcase"></i> Employement Details</ng-template>
              </tab>
            </tabset>
          </div>
        </div>
      </form>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>