<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card">
          <div class="card-header">
            <strong>New employee</strong>
          </div>
          <div class="card-body">

            <!-- Nav tabs -->
            <tabset>

              <tab>
                <ng-template tabHeading><i class="icon-user"></i> Personal Details &nbsp;</ng-template>
                <label for="name">Name</label>
                <div class="row">
                  <div class="form-group col-sm-2">
                    <select class="form-control" id="salutation" name="salutation" formControlName="salutation">
                      <option *ngFor="let sal of saluatations" [value]="sal">{{sal}}</option>
                    </select>
                  </div>

                  <div class="form-group col-sm-4">
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="First name"
                      formControlName="firstName">
                    <div></div>
                  </div>
                  <div class="form-group col-sm-3">
                    <input type="text" class="form-control" id="mname" name="mname" placeholder="Middle name"
                      formControlName="middleName">
                  </div>
                  <span class="form-group col-sm-3">
                    <input type="text" class="form-control" id="lname" required name="lname" placeholder="Last name"
                      formControlName="lastName">
                  </span>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="city">Gender</label>
                    <div>
                      <div *ngFor="let gender of genders; let i=index" class="form-check form-check-inline mr-1"
                        id="inline-radios">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" [value]="gender"
                          formControlName='gender'>
                        <label class="form-check-label" for="inlineRadio1">{{gender}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="city">Marital status</label>
                    <div>
                      <div *ngFor="let status of maritalStatus; let i=index" class="form-check form-check-inline mr-1"
                        id="inline-radios">
                        <input class="form-check-input" type="radio" name="maritalStatus" id="inlineRadio1" [value]="status"
                          formControlName='maritalStatus'>
                        <label class="form-check-label" for="inlineRadio1">{{status}}</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="birthDate">Birth Date</label>
                    <div >
                      <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date" formControlName="birthDate">
                      <!-- <span class="help-block">Please enter a valid date</span> -->
                    </div>
                  </div>
                </div>

              
                
                <div formArrayName="addresses">
                  <div *ngFor="let address of Addresses.controls; let i=index">
                    <div [formGroupName]="i">
                      <app-address-form [index]="i" [addressForm]="address" (deletePlayer)="deletePlayer($event)"></app-address-form>
                    </div>
                  </div>
                </div>

              </tab>
              <tab>
                <ng-template tabHeading><i class="icon-graduation"></i> Acadamics Details &nbsp;</ng-template>
              </tab>
              <tab>
                <ng-template tabHeading><i class="icon-briefcase"></i> Employement Details</ng-template>
              </tab>
            </tabset>

            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>