<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> List of Employees
        </div>
        <div class="card-body">
          <div class="float-right">
            <div class="form-group row flot-right">
              <div class="col-md-12">
                <div class="input-group">
                  <input type="text" id="input1-group2" name="input1-group2" class="form-control"
                    placeholder="Search employees " #input>
                </div>
              </div>
            </div>
          </div>
          <div>
            <table mat-table [dataSource]="dataSource" class="table table-bordered table-striped" matSort>
              <ng-container matColumnDef="employeeId">
                <th *matHeaderCellDef> Employee ID </th>
                <td *matCellDef="let element"> {{element.employeeId}} </td>
                <mat-spinner></mat-spinner>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="firstName">
                <th *matHeaderCellDef mat-sort-header> First Name </th>
                <td *matCellDef="let element"> {{element.firstName + ' ' + element.lastName}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="lastName">
                <th *matHeaderCellDef> Last Name </th>
                <td *matCellDef="let element"> {{element.lastName}} 
                  
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div>
            <ngx-spinner size="default" type="ball-spin-clockwise" [fullScreen]="false">
              <p style="color: white">Please Wait. </p>
            </ngx-spinner>
          </div> 
          <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>